In [1]:
import prepare_nb

## CLASS __new__ method

In [3]:
class Connection:
    __instance = None  # this is for allowing only one instanciation of the class

    def __new__(cls, *args, **kwargs):
        if cls.__instance is None:
            print('Connecting...')
            cls.__instance = super().__new__(cls)
            return cls.__instance
        else:
            print("WARNING: There is already an instance of connection")
            return cls.__instance  # returns already initialized instance
    
    def __init__(self, *args, **kwargs):
        print("Connected to the internet")

In [5]:
con = Connection()
con2 = Connection()

WARNING: There is already an instance of connection
Connected to the internet
WARNING: There is already an instance of connection
Connected to the internet

In [6]:
# the __method__ is aways called before __init__ method

In [7]:
import pandas as pd
import numpy as np

In [5]:
# now slices can be kept as variables using slice() inbuilt function
ls = list(range(10))
slc1 = slice(1, 8, 2)
ls[slc1]

[1, 3, 5, 7]

In [20]:
# slices could be used with pandas dataframe as well
n_records = 100
df = pd.DataFrame()
df["id"] = np.arange(1, n_records+1)
df['age'] = np.random.randint(1, 100, size=n_records)
df["pct"] = np.random.random(size=n_records)
df["gender"] = np.random.choice(["Male", "Female"], size=n_records)

df.iloc[slice(1, 4, 2)]

   id  age       pct gender
1   2   41  0.213476   Male
3   4   81  0.905186   Male

In [26]:
# None can be used to replace : functionality
df.iloc[slice(None, None, 2), :].head(10)

    id  age       pct  gender
0    1   43  0.371201  Female
2    3   84  0.064887    Male
4    5   24  0.404090    Male
6    7   55  0.722781  Female
8    9   17  0.020681  Female
10  11    7  0.794461  Female
12  13   75  0.875782    Male
14  15    4  0.287180  Female
16  17   70  0.893613    Male
18  19    5  0.668516  Female